@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: rgba(0,0,0, 0.9);
  height: 60px;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-logo {
  color: white;
  text-decoration: none;
  padding-left: 1.25rem;
  font-size: 1.5rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding-right: 1.25rem;
}

.navbar-link:hover {
  color: black;
}

@media screen and (max-width: 768px) {
  body.active {
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .navbar-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
  }

  .navbar-menu {
    display: grid;
    position: absolute;
    width: 100%;
    top: -1000px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: rgba(0,0,0, 0.9);
  }

  #mobile-menu {
    position: absolute;
    top: 15%;
    right: 5%;
    transform: translate(5%, 20%)
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
}

/* Hero */
.hero {
  background: url('./assets/background.jpg');
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.hero-content .content {
  position: absolute;
  right: 25px;
  bottom: 125px;
  text-align: right;
  width: 200px;
}

.hero-content h1 {
  font-size: clamp(3.25rem, 8vw, 7rem);
  text-transform: uppercase;
  margin-bottom: -10px;
}

.hero-content h2 {
  font-size: clamp(0.5rem, 4vw, 5rem);
  text-transform: uppercase;
  margin-left: 1.1rem;
}

.hero-content p {
  font-size: clamp(1rem, 4vw, 2.5rem);
  margin-bottom: 2rem;
  font-weight: 600;
}

.hero-content .title {
  position: absolute;
  top: 175px;
  left: 25px;
}

.button {
  padding: 0.5rem 1rem;
  border: none;
  background: red;
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease-in-out;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background: rgb(187, 0, 0)
}

#hero-img1 {
  width: 225px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  display: flex;
  bottom: 100px;
  left: 25px;
  position: absolute;
  border-radius: 35px;
  box-shadow: 1px 2px 4px rgba(0,0,0, 0.3);
  cursor: pointer;
}

#hero-img2 {
  width: 225px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  display: flex;
  bottom: 300px;
  left: 125px;
  position: absolute;
  border-radius: 35px;
  box-shadow: 1px 2px 4px rgba(0,0,0, 0.3);
  cursor: pointer;
}

#hero-img3 {
  width: 225px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  z-index: 2;
  display: flex;
  bottom: 500px;
  right: 25px;
  position: absolute;
  border-radius: 35px;
  box-shadow: 1px 2px 4px rgba(0,0,0, 0.3);
  cursor: pointer;
}

#hero-img1:hover, #hero-img2:hover {
  margin-bottom: 10px;
  z-index: 99;
}

#hero-img3:hover {
  margin-bottom: 10px;
}

/* Services */

.services {
  padding: 6rem calc((100vw - 1200px) / 2);
  background-color: black;
  color: white;
  text-align: center;
}

.bar {
  background-color: rgba(255,255,255, 0.6);
  height: 2px;
  width: 125px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

#services-image {
  width: 70%;
  border-radius: 4px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 2px black;
}

.services-container {
  display: grid;
  padding: 1.7rem;
  grid-template-columns: 1fr 1fr;
}

.topline {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
  letter-spacing: 0.15rem;
}

.services-heading {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 6vw, 3rem);
}

.services-desc {
  color: rgba(255,255,255, 0.8);
  line-height: 2rem;
}

.services-list {
  margin-top: 3rem;
  list-style: none;
}

.services-item {
  margin-bottom: 1.5rem;
  font-size: clamp(1.5rem, 5vw, 2rem);
}

.service-icon {
  margin-right: 0.5rem;
  font-size: 2rem;
}

.gear h1 {
  margin: 1rem;
}

.gear-item {
  padding: 0.5rem 0;
}

@media screen and (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}

/* Pricing */

.pricing {
  background: whitesmoke;
  padding: 6rem calc((100vw - 1100px) / 2);
  text-align: center;
}

.pricing h1 {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 0 1rem;
}

.pricing p {
  margin-bottom: 0.5rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
}

.pricing-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.pricing-card {
  padding: 2rem;
  height: 450px;
  width: 325px;
  background: rgba(0,0,0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pricing-perks {
  min-height: 200px;
}

.pricing-card p {
  line-height: 0.75rem;
  font-size: 1.25rem;
}

.pricing-card h3 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.bronze {
  color: #b47433;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.silver {
  color: rgb(172, 172, 172);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.gold {
  color: rgb(230, 179, 50);
  font-size: 3rem;
  margin-bottom: 1rem;
}

.pricing-card .button {
  width: 150px;
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .pricing-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .pricing-card {
    width: 90%;
    margin-bottom: 2rem;
  }

  .pricing-card h3 {
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
  }

  .pricing-card .button {
    width: 250px;
  }
}